# Auto detect text files and perform LF normalization
* text=auto
/Users/gnickles/Desktop/ResearchOS/installer/out/researchos-installer-darwin-arm64/researchos-installer.app/Contents/Frameworks/Electron[[:space:]]Framework.framework/Electron[[:space:]]Framework filter=lfs diff=lfs merge=lfs -text
